.related-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 4rem 0;
    color: #262626;
    padding: 0 1rem;
  }
  
  .related-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .related-subtitle {
    max-width: 35rem;
    text-align: center;
    font-size: 0.875rem;
    color: #555555;
    margin-bottom: 2rem;
  }
  
  .related-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem 1rem;
    padding: 0 0.5rem;
  }
  
  .doctor-card {
    border: 1px solid #c9d8ff;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(100, 116, 139, 0.1);
    background-color: white;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .doctor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(100, 116, 139, 0.2);
  }
  
  .doctor-image {
    background-color: #eaefff;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
  }
  
  .doctor-info {
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  
  .availability {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  
  .available {
    color: #22c55e; /* green-500 */
  }
  
  .not-available {
    color: #6b7280; /* gray-500 */
  }
  
  .status-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    display: inline-block;
  }
  
  .green-dot {
    background-color: #22c55e;
  }
  
  .gray-dot {
    background-color: #6b7280;
  }
  
  .doctor-name {
    color: #262626;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
  }
  
  .doctor-speciality {
    color: #5c5c5c;
    font-size: 0.875rem;
    margin: 0;
    font-weight: 400;
  }
  